<h1>ユーザー検索</h1>
<% if flash[:alert] %>
  <%= flash[:alert] %>
<% end %>
<%= form_tag('/users/show', method: :get) do %>
  <%= text_field_tag :user, nil,  id: "user_search", name: "id", placeholder: "ユーザIDを入力してください", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
<% end %>